h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

    margin: auto;
    width: 30.559%;
    border: 3px solid  #1a48e0;
    padding: 10px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: auto;
    width: 50%;
    padding: 10px;
}
body{
    background-image: url('images/background_main.jpg');
    background-size: 1300px;
    background-repeat: repeat;
    z-index: -1;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
h3{
    border: none;
  background: #2454f0;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}
iframe{
  margin: auto;
  width: 70%;
  border: 3px solid  #1a48e0;
  padding: 10px;
}